body {
    background-color: #1F2833;
    color: white;
}

img {
    align-self: center;
    height: 175px;
    width: 175px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 145px;
}

h1, h2, h3 {
    text-align: center;
    position: static;
    font-family: 'Recursive', sans-serif;
    font-style: normal;
}

h1 {
    padding-top: 10px;
    font-size: 30px;
}

h2 {
    padding-bottom: 10px;
    font-size: 18px;
}

h3 {
   padding-bottom: 10px;
}

.links {
    display: flex;
    padding-left: 550px;
    padding-right: 550px;
    
}

.links a.link-normal:nth-child(1) {
    padding-left: 25px;
    padding-right: 25px;
}

.links a.link-normal:nth-child(2) {
    padding-left: 25px;
    padding-right: 25px;
}

.links a.link-normal:nth-child(3) {
    padding-left: 25px;
    padding-right: 25px;
}

.links a.link-normal:nth-child(4) {
    padding-left: 25px;
    padding-right: 25px;
}

.fa {
    padding: 20px;
    margin-left: 20px;
    margin-right: 15px;
    font-size: 40px;
    width: 17px;
    height: 15px;
    text-align: center;
    text-decoration: none;
}

.fa-hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #08a0e9;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-linkedin {
    background: #0077B5;
    color: white;
}